<div class="Item-Card">
    <div class="Image-Set" (click)="modalOn()">
        <div class="Item-Image">
            <img src={{image}} alt="Item">
        </div>
    </div>
    <div class="Informations-Set">
        <div class="Item-Name">
            <span>{{title}}</span>
        </div>
        <div class="Item-Price">
            <span>{{price}}$</span>
        </div>
        <div class="Item-Add-Button">
            <div class="Add-To-Cart" *ngIf="added == false" (click)="added = true; moreItens()">
                <span>Add To Cart</span>
            </div>
            <div class="Added-To-Cart" *ngIf="added == true">
                <button (click)="lessItens()">-</button>
                <span>{{amount}}</span>
                <button (click)="moreItens()">+</button>
            </div>
        </div>
    </div>
</div>
<div class="Item-Card-OnModal" *ngIf="showModal == true">
    <div class="Item-Card-ModalOpen">
        <div class="Close-Modal"><button type="button" (click)="modalOff()">X</button></div>
        <div class="Image-Set">
            <div class="Item-Image-ModalOpen">
                <img src={{image}} alt="Item">
            </div>
        </div>
        <div class="Informations-Set">
            <div class="Item-Name-ModalOpen">
                <span>{{title}}</span>
            </div>
            <div class="Item-Description">
                <span>{{description}}</span>
            </div>
            <div class="Item-Price-ModalOpen">
                <span>{{price}}$</span>
            </div>
            <div class="Item-Add-Button">
                <div class="Add-To-Cart" *ngIf="added == false" (click)="added = true; moreItens()">
                    <span>Add To Cart</span>
                </div>
                <div class="Added-To-Cart" *ngIf="added == true">
                    <button (click)="lessItens()">-</button>
                    <span>{{amount}}</span>
                    <button (click)="moreItens()">+</button>
                </div>
            </div>
        </div>
    </div>
</div>