<div class="Item">
    <div class="Image">
        <img src={{image}} alt={{title}}>
    </div>
    <div class="Name">
        <span>{{title}}</span>
    </div>
    <div class="Price">
        <span>{{updatedPrice.toFixed(2)}}</span>
    </div>
    <div class="Amount">
        <div class="Item-Amount">
            <button type="button" (click)="handleLess()">-</button>
            <span>{{itemAmount}}</span>
            <button type="button" (click)="handleMore()">+</button>
        </div>
        <div class="Remove-Item">
            <button type="button" *ngIf="itemAmount == 0" (click)="handleRemove()">Remove</button>
        </div>
    </div>
</div>